
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}


.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



select{
    margin-top: 1rem;
    border-radius: 5px;
    border: 3px solid #b724ce44;
    padding: 0.3rem 1rem;

}

button{
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: #be95c4c5;
    border: 3px solid #be95c444;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1rem;
}